language: node_js
node_js:
  - 'node'
addons:
  ssh_known_hosts:
    - $know_host
    - $know_host_ip
before_install:
- openssl aes-256-cbc -K $encrypted_e9c1975ff077_key -iv $encrypted_e9c1975ff077_iv
  -in deploy_rsa.enc -out deploy_rsa -d
- npm --version
- phantomjs --version
before_deploy:
- eval "$(ssh-agent -s)"
- chmod 600 $TRAVIS_BUILD_DIR/deploy_rsa
- ssh-add $TRAVIS_BUILD_DIR/deploy_rsa
after_success:
- bash <(curl -s https://codecov.io/bash)
- make dist
deploy:
  provider: script
  skip_cleanup: true
  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/dist $ssh_host_user:$path
  on:
    branch: master
