$animation: fade;
.#{$animation}-enter, .#{$animation}-appear {
  opacity: 0.01;
  &-active {
	  opacity: 1;
	  transition: opacity 500ms ease-in;

  }
}

.#{$animation}-leave {
  opacity: 1;
  &-active {
	  opacity: 0.01;
	  transition: opacity 300ms ease-in;

  }
}

@keyframes ghost {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes ghostTopLeft {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-15px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ghostTopRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, -15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ghostBottomRight {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(15px, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes ghostBottomLeft {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-15px,15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
