$animation: fade;
.#{$animation}-enter, .#{$animation}-appear {
  opacity: 0.01;
  &-active {
	  opacity: 1;
	  transition: opacity 500ms ease-in;
  	
  }
}

.#{$animation}-leave {
  opacity: 1;
  &-active {
	  opacity: 0.01;
	  transition: opacity 300ms ease-in;
  	
  }
}