$animation: fade;
.#{$animation}-enter, .#{$animation}-appear {
  opacity: 0.01;
  &-active {
	  opacity: 1;
	  transition: opacity 500ms ease-in;

  }
}

.#{$animation}-leave {
  opacity: 1;
  &-active {
	  opacity: 0.01;
	  transition: opacity 300ms ease-in;

  }
}

svg.icon--ghost {
  animation: ghost 2s ease infinite alternate;
}
svg.icon--ghost .icon--ghost-eye {
  animation: ghostBlink .8s ease infinite alternate;
}

@keyframes ghost {
  0% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(180deg)
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes ghostBlink {
  0% {
    fill: #51C3F1;
  }
  100% {
    fill: #FFF;
  }
}
