.backToLoginComponent {
  padding: 10px;
  h2 {
    color: rgb(242, 193, 97);
    margin: 10px 0;
  }
  p {
    font-style: italic;
    margin: 10px 0;
  }
  a {
    color: rgb(242, 193, 97);
    font-style: normal;
  }
}
