.box {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	.boxSubtitle {
		text-decoration: underline;

	}
	h4.boxSubtitle {
		text-decoration: none;
		color: rgb(242, 193, 97);
	}
	.boxImage {
		border-top: 3px solid #ffce1f;
		position: relative;
		color: #f5f5f5;
		height: 260px;
		padding: 40px 40px 0 10px;
		font-weight: 400;
		line-height: 20px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		background-size: cover;
		background-position: center center;
	}
	.boxText {
		padding: 5px 10px;
	}
}
.box .boxItems {
	.boxItem {
		@include clearfix-micro();
		margin: 10px 0;

		img, .boxItemText {
			float: left;
		}
		img {
			width: 12%;
		}
		.boxItemText {
			display: inline-block;
			width: 88%;
			padding-left: 15px;
			strong {
				font-weight: 700;
				font-size: 18px;
				line-height: 20px;
			}
			small {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  	.box .boxItems .boxItem img {
  		width: 3%;
  	}
  	.box .boxItems .boxItem .boxItemText {
  		width: 97%;
  	}
}