.box {
	float: left;
	max-width: 320px;
	min-width: 320px;
	margin-bottom: 20px;
	.boxSubtitle {
		text-decoration: underline;

	}
	h4.boxSubtitle {
		text-decoration: none;
		color: rgb(242, 193, 97);
	}
	.boxImage {
		border-top: 3px solid #ffce1f;
		position: relative;
		color: #f5f5f5;
		height: 260px;
		padding: 40px 40px 0 10px;
		font-weight: 400;
		line-height: 20px;
		text-shadow: 0 1px 2px rgba(0,0,0,0.3);
		background-size: cover;
		background-position: center center;
	}
	.boxText {
		padding: 5px 10px;
	}
}
.box .boxItems {
	.boxItem {
		@include clearfix-micro();
		margin: 10px 0;

		img, .boxItemText {
			float: left;
		}
		img {
			max-width: 30px;
			margin-right: 15px;
			margin-top: 5px;
		}
		.boxItemText {
			display: inline;
			max-width: 245px;
			strong {
				font-weight: 700;
				font-size: 18px;
				line-height: 20px;
			}
			small {
				font-size: 14px;
				line-height: 16px;
			}
		}
	}
}