.icon {
  &--exit {
    width: 32px;
    height: auto;
    fill: #FFF;
    &:hover {
      fill: #f2c161;
    }
  }
  &--ghost {
    width: 100px;
    height: 100px;
    path,circle {
      fill: #FFF;
    }
    &-noFill {
      fill-opacity: 0;
      stroke: #FFF;
    }
  }
}
