.menuComponent {
  position: relative;
  width: 100%;
  .menuComponentLogOut {
    position: absolute;
    top: 15px;
    right: 5px;
    svg {
      width: 32px;
      height: auto;
      fill: #FFF;
      transition: fill .5s ease-in-out;
      &:hover {
        fill: rgb(242, 193, 97);
      }
    }
  }
}
