.selectComponent {
	color: #f5f5f5;
	.selectWrap {
		position: relative;
		// height: 45px;
		// max-width: 640px;
		// min-width: 320px;
		width: 100%;
		padding: 5px;
		&:after{
		    color: rgba(245, 245, 245, 1);
		    content: "▾";
		    position: absolute;
		    pointer-events: none;
		    right: 14px;
		    top: 18px;
		}
		select{
			background: transparent;
			border: 1px solid rgba(97, 119, 147, 0.5);
			color: #f5f5f5;
			background: #2f2f2f;
			font-size: 12px;
			padding: 5px 35px 5px 5px;
			width: 100%;
			height: 45px;
			border-radius: 0;
			box-sizing: border-box;
			-webkit-appearance: none;
			-moz-appearance: none;
			outline: medium none;
			&:focus {
				outline: medium none;
			}
		}
	}
}