@import "reset";
@import "modernscale";
@import "mixins";
@import "box";
@import "select";
@import "form";
@import "character";
@import "back_to_login";
@import "menu";
@import "steps";
@import "icons";
@import "loading";
@import "animation";

* {
	box-sizing: border-box;
}

body {
	background: rgb(30,36,43);
	color: #c6c6c6;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

img { max-width: 100%; }
