@import "reset";
@import "modernscale";
@import "mixins";
@import "box";
@import "select";
@import "form";
@import "animation";

* {
	box-sizing: border-box;
}

body {
	background: #2f2f2f;
	color: #c6c6c6;
	font-family: 'Roboto', sans-serif;
}

img { max-width: 100%; }
