@import "reset";
@import "modernscale";
@import "mixins";
@import "box";

* {
	box-sizing: border-box;
}

body {
	background: #2f2f2f;
	color: #c6c6c6;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 700; 
}

img { max-width: 100%; }